# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
ENV/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Output data
data/*.csv
data/*.png

# System files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
